# Python Group
## Lab Two: Exploring Image Data
### Wali Chaudhary, Bryce Shurts, & Alex Wright

## 1. Business Understanding

# TODO

### Citation & Acknowledgement
The Hotels Reservation dataset is liscenced under the [GNU General Public License, version 2](https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html) and was provided by Preet Viradiya on [Kaggle](https://www.kaggle.com/datasets/preetviradiya/brian-tumor-dataset).

## 2. Data Preperation

In [8]:
# Handle all imports for notebook

# Generic list pulled from last project, modify as desired
import pandas as pd
from pandas import ( DataFrame, Series )
import numpy as np
from numpy import ndarray
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import random
from scipy.stats import zscore
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [4]:
df: DataFrame = pd.read_csv("metadata_rgb_only.csv")

In [5]:
df.head()

   Unnamed: 0             image  class format mode          shape
0           0    Cancer (1).jpg  tumor   JPEG  RGB  (512, 512, 3)
1           2    Cancer (1).tif  tumor   TIFF  RGB  (256, 256, 3)
2           3   Cancer (10).jpg  tumor   JPEG  RGB  (512, 512, 3)
3           4   Cancer (10).tif  tumor   TIFF  RGB  (256, 256, 3)
4           5  Cancer (100).jpg  tumor   JPEG  RGB  (512, 512, 3)

In [6]:
# Define data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4461 entries, 0 to 4460
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4461 non-null   int64
 1   image       4461 non-null   object
 2   class       4461 non-null   object
 3   format      4461 non-null   object
 4   mode        4461 non-null   object
 5   shape       4461 non-null   object
dtypes: int64(1), object(5)
memory usage: 209.2+ KB